#Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

#C extensions
*.so

#Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

#PyInstaller
*.manifest
*.spec

#Installer logs
pip-log.txt
pip-delete-this-directory.txt

#Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
testlog/
*.log
*.tmp

#Jupyter Notebook
.ipynb_checkpoints

#pyenv
.python-version

#Environment variables
.env
.env.*

#Virtual environment
venv/
ENV/
env/
env.bak/
venv.bak/

#Spyder project settings
.spyderproject
.spyproject

#Rope project settings
.ropeproject

#mkdocs documentation
/site

#mypy
.mypy_cache/

#Configuration files
config/

#Sessions
sessions/

#IDE specific files
#JetBrains specific files
.idea/
*.iml
#Visual Studio Code
.vscode/
*.code-workspace

#macOS specific
.DS_Store
